<html>
    <head>
        <title>Create Issue</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">    </head>
        <link rel="stylesheet" type="text/css" href="../css/createIssue.css">
    <body>
        <div class = "form-container" ng-controller="IssueController as ctrl">   
            <form name="createIssueForm" ng-submit="ctrl.createIssue()">               
                <div class="description-container">
                    <div class="issue-no">
                       New Issue <i class="fas fa-exclamation-circle"></i>
                    </div>
                    <div class="issue-title">
                        <input type="text" ng-model="ctrl.issue.title" placeholder="Title" >
                    </div>
                    <div class="issue-description">
                        <textarea rows="17" cols="100" ng-model="ctrl.issue.description" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="dropdown-container">
                    <div class="dropdown" id="project-dropdown">
                        Select Project<br>
                        <select name="project-name" ng-model="ctrl.issue.project.id">
                            <option value=1>Default</option>
                        </select>
                    </div>
                    <div class="dropdown">
                        Select Category<br>
                        <select name="category" ng-model="ctrl.issue.category">
                            <option value="Hardware">Hardware</option>
                        </select>
                    </div>
                </div>
                <div class="submit-container">
                    <div class="button-container">
                        <input type="submit" value="Report">
                        <input type="reset" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>