<html>
    <head>
        <title>Create User</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">    </head>
        <link rel="stylesheet" type="text/css" href="createUser.css">
    <body>
        <div class = "form-container" ng-controller="">   
            <form name="createUserForm" ng-submit="">
                <div class="input-container">
                    <div class="user-no">
                       New User <i class="far fa-address-card"></i>
                    </div>
                    <div class="user-name">
                        <div class="col-25"><label for="name">Name</label></div>
                        <div class="col-75"><input type="text" ng-model="" placeholder="Full name..." maxlength="250" required></div>
                    </div>
                    <div class="user-name">
                        <div class="col-25"><label for="username">Username</label></div>
                        <div class="col-75"><input type="text" ng-model="" placeholder="Choose a unique username..." maxlength="250" required></div>
                    </div>
                    <div class="user-name">
                        <div class="col-25"><label for="email">Email</label></div>
                        <div class="col-75"><input type="email" ng-model="" placeholder="User's E-Mail id..." maxlength="250" required></div>
                    </div>
                    <div class="user-name">
                        <div class="col-25"><label for="doj">Date of Joining</label></div>
                        <div class="col-75"><input type="date" ng-model="" required></div>
                    </div>
                    <div class="user-name">
                        <div class="col-25"><label for="name">Role Type</label></div>
                        <div class="col-75"><select ng-model="" required>
                            <option value="1">Admin</option>
                            <option value="2">Employee</option>
                        </select></div>
                    </div>
                </div>
                <div class="dropdown-container">
                    <div class="dropdown" id="project-dropdown">
                        Select Project<br>
                        <select name="project-name" ng-model="ctrl.postuser.project.id" required>
                            <option value="" disabled>Select a value</option>
                            <option value=1>Default</option>
                        </select>
                    </div>
                    <div class="dropdown">
                        Select Category<br>
                        <select name="category" ng-model="ctrl.postuser.category" required>
                            <option value="" disabled>Select a value</option>
                            <option value="Hardware">Hardware</option>
                            <option value="Server">Server</option>
                            <option value="Client">Client</option>
                            <option value="Security">Security</option>
                            <option value="Performance">Performance</option>
                            <option value="Documentation">Documentation</option>
                        </select>
                    </div>
                </div>
                <div class="submit-container">
                    <div class="button-container">
                        <input type="submit" value="Add">
                        <input type="reset" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>