<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
        integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/home.css">
    </head>
    <body>
        <div class="wrapper" ng-controller="login">
            <div class="header">
                <div class="smallbar">
                    <label><i class="fas fa-user"></i> My Account |</label>
                    <label ng-click="logout()"> <i class="fas fa-sign-out-alt"></i>Logout</label>
                </div>
                <div class="navigation">
                    <div class="product-name">
                        MagnusIT
                    </div>
                    <div class="navbar">
                        <div class="tabs" ui-sref="home.dashboard">Dashboard <i class="fas fa-angle-down"></i></div>
                        <div class="tabs" ui-sref="home.viewIssueList">View Issues <i class="fas fa-angle-down"></i></div>
                        <div class="tabs">My projects <i class="fas fa-angle-down"></i></div>
                    </div>
                </div>
            </div>
            <div class="view" ui-view></div>
        </div>
    </body>
</html>