<html>
    <head>
        <title>Issue List</title>
        <link rel="stylesheet" href="../css/issueList.css">
    </head>
    <body>
        <div class="view-container" ng-controller="IssueController as ctrl">
            <div class="filter">
                <div class="heading">
                    Filters
                    <div class="search-bar"><input type="text" placeholder="Search" ng-model="ctrl.search"></div>
                </div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
                <div class="filter-box"><input type="checkbox">Filter #1</div>
            </div>
            <div class="list-container">
                <div class="heading">Issues</div>
                <div class="issue-list">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <th class="category" width="5%">Issue No.</th>
                                <th class="category" width="5%">Category</th>
                                <th class="category" width="5%">Priority</th>
                                <th class="category" width="5%">Status</th>
                                <th class="category" width="10%">Last Updated</th>
                                <th class="category" width="30%">Title</th>
                            </tr>
                            <tr ng-repeat="issue in ctrl.issues | filter : ctrl.search">
                                <td>#{{issue.issueNumber}}</td>
                                <td>{{issue.category}}</td>
                                <td>{{issue.priority}}</td>
                                <td>{{issue.status}}</td>
                                <td>{{issue.lastModifiedDate | date:'fullDate'}}</td>
                                <td>{{issue.title}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>