<html>
    <head>
        <title>Project List</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        <link rel="stylesheet" href="css/projectList.css">
    </head>
    <body>
        <div ng-controller="ProjectController as ctrl">
            <div class="add-button-container"><button class="add-button" ui-sref="home.createProject"><i class="fas fa-plus"></i> &nbsp; Add project</button></div>
            <div class="search-bar">
                <input type="text" placeholder="Type Here..."><select name="project">
                    <option value="" disabled>Projects</option>
                    <option value=1>Default</option>
                </select>
                <button class="search-button"><i class="fas fa-search"></i>&nbsp; Search</button>
            </div>
            <div class="column" ng-repeat="project in ctrl.projects">
                <div class="card">
                    <div class="number">#{{project.projectNo}}</div>
                    <div class="container">
                    <h2>{{project.name}}</h2>
                    <p class="title">{{project.status}}</p>
                    <p>Members : 5</p>
                    <p><a class="arrow" ng-click="ctrl.goToProject(project.id)"><i class="fas fa-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>