<html>
    <head>
        <title>View User</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        <link rel="stylesheet" href="css/viewUser.css">
    </head>
    <body>
        <div class="header">
            <div class="user-id"><h3>#2345</h3></div>
            <div class="vertical-line"></div>
            <div class="user-name"><h3>Adarsh Singh</h3></div>
        </div>
        <div class="row">
            <div class="card">
                <div class="container">
                    <div class="title"><h3>Username</h3></div>
                    <div class="description">adninjazz</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="container">
                    <div class="title"><h3>E - Mail</h3></div>
                    <div class="description">adninjazz@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="container">
                    <div class="title"><h3>Date of Joining</h3></div>
                    <div class="description">16/05/1996</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="container">
                    <div class="title"><h3>Projects</h3></div>
                    <div class="description">AngularJS</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="container">
                    <div class="title"><h3>Role Type</h3></div>
                    <div class="description">Admin</div>
                </div>
            </div>
        </div>
        <br>
        <div class="button-bar">
            <button class="button">Delete &nbsp;<i class="far fa-trash-alt"></i></button>
            <button class="button">Update &nbsp;<i class="far fa-edit"></i></button>
            <button class="button">Assign Project &nbsp;<i class="fab fa-steam"></i></button>
        </div>
    </body>
</html>