<html>
    <head>
        <title>View Issue</title>
        <link rel="stylesheet" href="css/viewIssue.css">
    </head>
    <body>
        <div class="issueContainer" ng-controller="IssueController as ctrl">
            <div class="table-container">
                <table>
                    <tbody>
                        <tr class="issue-header">
                            <th class="issue-id category" width="15%">Issue No.</th>
                            <th class="issue-project category" width="20%">Project</th>
                            <th class="issue-category category" width="15%">Category</th>
                            <th class="issue-view-status category" width="15%">Accessibility</th>
                            <th class="issue-date-submitted category" width="18%">Date Submitted</th>
                            <th class="issue-last-modified category" width="20%">Last Update</th>
                        </tr>
                        <tr class="issue-header-data">
                            <td class="issue-id">{{ctrl.currentIssue.issueNumber}}</td>
                            <td class="issue-project"><a href="" ng-click="ctrl.goToProject(ctrl.project.id)">{{ctrl.project.name}}</a></td>
                            <td class="issue-category">{{ctrl.currentIssue.category}}</td>
                            <td class="issue-view-status" ng-show="ctrl.currentIssue.isPublic">Public</td>
                            <td class="issue-view-status" ng-hide="ctrl.currentIssue.isPublic">Private</td>
                            <td class="issue-date-submitted">{{ctrl.currentIssue.creationDate | date:'fullDate'}}</td>
                            <td class="issue-last-modified">{{ctrl.currentIssue.lastModifiedDate | date:'fullDate'}}</td>
                        </tr>
                        <tr class="hidden"></tr>
                        <tr>
                            <th class="issue-reporter category">Reporter</th>
                            <th class="issue-assigned-to category">Assigned to</th>
                            <th class="issue-status category">Status</th>
                            <th class="issue-priority category">Priority</th>
                            <th class="issue-resolution category" colspan="2">Lifecycle</th>
                        </tr>
                        <tr>
                            <td class="issue-reporter"><a href="" ng-click="ctrl.goToUser(ctrl.reporter.employeeNumber)">{{ctrl.reporter.username}}</a></td>
                            <td class="issue-assigned-to"><a href="" ng-click="ctrl.goToUser(ctrl.assignedTo.employeeNumber)">{{ctrl.assignedTo.username}}</a></td>
                            <td class="issue-status"><i class="fa fa-square fa-status-box status-80-color"></i>{{ctrl.currentIssue.status}}</td>
                            <td class="issue-priority">{{ctrl.currentIssue.priority}}</td>
                            <td class="issue-resolution" colspan="2"></td>
                        </tr>
                        <tr class="hidden"></tr>
                        <tr>
                            <th class="issue-summary category">Summary</th>
                            <td class="issue-summary" colspan="5">{{ctrl.currentIssue.title}}</td>
                        </tr>
                        <tr>
                            <th class="issue-description category">Description</th>
                            <td class="issue-description" colspan="5">
                                <p>{{ctrl.currentIssue.description}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <br>
                <div class="issueButton">
                    <button ng-click="ctrl.goToUpdateIssue(ctrl.currentIssue.issueNumber)">Update issue</button>
                    <button ng-click="ctrl.deleteIssue()">Delete issue</button>
                </div>
                <hr>
            <div class="table-container">
                <table ng-hide="ctrl.comments.length==0">
                    <tbody>
                        <tr>
                            <th class="category" colspan="2">Comments <i class="fas fa-comments"></i></th>
                        </tr>
                        <tr ng-repeat="comment in ctrl.comments | filter : ctrl.search">
                            <th class="user"><a href="" ng-click="ctrl.goToUser(ctrl.commentUsers[$index].employeeNumber)">{{ctrl.commentUsers[$index].username}}</a></th>
                            <td class="commentBody">
                                <p>{{comment.body}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span ng-show="ctrl.comments.length==0">No comments to display. Post one below.</span>
            </div>
            <div class="issueButton" id="commentButton"><button ng-click="ctrl.setCommentFlag()">Comment</button></div>
            <div class="comments" ng-show= ctrl.commentflag>
                <form ng-submit="ctrl.createComment()">
                    <div class="new-comment">
                        <h3> New Comment <i class="fas fa-comment"></i></h3>
                    </div>
                    <div class="comment-body">
                        <textarea rows="5" ng-model="ctrl.postcomment.body" placeholder="Comment here." maxlength="1000" required></textarea>
                    </div>
                    <div class="button-container">
                        <input type="submit" value="Post comment">
                        <input type="reset" value="Cancel" ng-click="ctrl.cancelComment()">
                    </div>
                </form>
            </div>
            <hr>
            <div class="issue-history">
                <table>
                    <tr>
                        <th class="category" colspan="3">Issue history <i class="fas fa-history"></i></th>
                    </tr>
                    <tr ng-repeat="item in ctrl.history">
                        <td><a href="" ng-click="ctrl.goToUser(ctrl.historyUsers[$index].employeeNumber)">{{ctrl.historyUsers[$index].username}}</a></td>
                        <td>{{item.description}}</td>
                        <td>{{item.creationDate | date:'fullDate'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>