body{
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.createIssueButton{
    margin: 40px 45%;
}
.createIssueButton button{
    width: 150px;
    height: 40px;
    background-color:rgb(241, 93, 67);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.wrapper{
    width: 100%;
    height: 100%;
    min-width: 1280px;
    background:transparent;
}
.header{
    height: 15%;
    background:transparent;
    border-bottom: #4484ce solid 3px;
}
.smallbar{
    height: 25%;
    color: white;
    text-align: right;
    padding-right: 5px;
    background-color: #4484ce;
}
.smallbar label:hover{
    cursor: pointer;
}
.navigation{
    height: 75%;
    color: #494d4b;
    overflow: hidden;
}
.tabs{
    height: 100%;
    width: 20%;
    padding: 2% 0;
    float: left;
    text-align: center;
}
.tabs:hover{
    cursor: pointer;
    background: #4484ce;
    color: ghostwhite;
}
.product-name{
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 2.75em;
    float: left;
}
.navbar{
    width: 75%;
    height: 100%;
    float: left;
}
.view{
    min-height: 400px;
    margin: 0% 1%;
    background:transparent;
}
.navbar div:active{
    background: #4484ce;
    color: ghostwhite;
}