<html>

<head>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <div class="title">
                Magnus Issue Tracker
            </div>
            <div class="profile">
                Profile
            </div>
        </div>
        <div class="container">
            <div class="left-bar">
                <ul>
                    <li> <a>1</a></li>
                    <li> <a>2</a></li>
                    <li> <a>3</a></li>
                    <li> <a>4</a></li>
                    <li> <a>5</a></li>
                </ul>
            </div>
            <div class="view">
            </div>
            <!-- <div class="right-bar">
                <div class="right-bar-title">
                    <h2>timeline</h2>
                </div>
            </div> -->
            <div class="footer">
                C Team Magnus.
            </div>
        </div>

    </div>

</body>


</html>